[defaults]
inventory           = inventory/hosts.yaml
roles_path          = roles
host_key_checking   = True
retry_files_enabled = False
stdout_callback     = ansible.builtin.default
result_format       = yaml
callbacks_enabled   = profile_tasks
interpreter_python  = auto_silent

vars_plugins_enabled = host_group_vars,community.sops.sops

[ssh_connection]
pipelining = True
